SERVER_PORT=
SPRING_APPLICATION_NAME= <eureka-server>
SPRING_CLOUD_CONFIG_URI=

EUREKA_CLIENT_REGISTER_WITH_EUREKA=
EUREKA_CLIENT_FETCH_REGISTRY=
SPRING_EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=
EUREKA_SERVER_ENABLE_SELF_PRESERVATION=